include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard
		button#close-ui FORMS
		include ui-navigation.pug

		block content
			.container-dashboard.custom-form(style="padding-top:80px;")
				.form-item
					input.inp(type="text" name="inp_name")
				pre.
					.form-item
						input.inp(type="text" name="inp_name")
				hr
				
				.form-item.error
					input.inp.error(type="text" name="inp_name")
				pre.
					.form-item.error
						input.inp.error(type="text" name="inp_name")
				hr
				
				.form-item-slim
					input.inp(type="text" name="inp_name")
					.inp-placeholder Имя *
				
				pre.
					form-item-slim
						input.inp(type="text" name="inp_name")
				hr
				
				.form-item.form-item--special
					input.inp(type="text" name="inp_name")
					.inp-placeholder Имя *
				
				pre.
					.form-item.form-item--focus
						input.inp(type="text" name="inp_name")
						.inp-placeholder Имя *
				
				.form-item.form-item--special
					textarea.textarea( name="message")
					.inp-placeholder Message
				
				pre.
					.form-item.form-item--focus
						input.inp(type="text" name="inp_name")
						.inp-placeholder Имя *

				br
				h4 Custom checkbox
				
				label.custom-item-label
					input(type="checkbox" name="")
					span.custom-checkbox
				
				
				script.
					const specialFormsItems = document.querySelectorAll('.form-item--special');
					function activatePlaceholder(element, parent){
						element.addEventListener('focus',()=>{
							parent.classList.add('form-item--focus');
						});
						element.addEventListener('blur',()=>{
							if( element.value !==''){
								parent.classList.add('form-item--focus');
							}else{
								parent.classList.remove('form-item--focus');
							}
							
						});
					}
					if(specialFormsItems.length>0){
						specialFormsItems.forEach((item)=>{
							const itemInput = item.querySelector('.inp');
							const itemTextarea = item.querySelector('.textarea');
							if(itemInput){
								 activatePlaceholder(itemInput, item);
							}
							if(itemTextarea){
								activatePlaceholder(itemTextarea, item);
							}
						});
					}