include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2.db-h2 иконки
				.container-dashboard__content
					svg.logo-svg
						use(href='../img/logo.svg#logo-svg')
					pre.
						svg.logo-svg
							use(href='./img/logo.svg#logo-svg')
					svg.logo-svg
						use(href='./img/logo.svg#logo-svg')
					svg.svg-logo-icon
						use(href='../img/sprite.svg#svg-logo-icon')
					pre.
						svg.svg-logo-icon
							use(href='../img/sprite.svg#svg-logo-icon')
					br
					svg.svg-logo-txt
						use(href='../img/sprite.svg#svg-logo-txt')
					
					pre.
						svg.svg-logo-txt
							use(href='../img/sprite.svg#svg-logo-txt')
					br
					
					svg.svg-txt-center
						use(href='../img/logo-text.svg#logo-txt-center')
					pre.
						svg.svg-txt-center
							use(href='./img/logo-text.svg#logo-txt-center')
					br
					svg.svg-search
						use(href='../img/sprite.svg#svg-search')
					pre.
						svg.svg-search
							use(href='./img/sprite.svg#svg-search')
					
					svg.svg-bin
						use(href='../img/sprite.svg#svg-bin')
					pre.
						svg.svg-bin
							use(href='./img/sprite.svg#svg-bin')
					
					

