.authorization-content{
	background: #EDF0FF;
	background: linear-gradient(180deg,rgba(237, 240, 255, 1) 0%, rgba(245, 247, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
	padding-top: 36px;
	padding-bottom: 20px;
	height: 100dvh;
	overflow: hidden;
	display: flex;
	.container-small{
		display: flex;
		flex-direction: column;
		
	}
}
.brand-logo{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	flex-shrink: 0;
	margin-bottom: 22px;
}
.authorization-form{
	display: flex;
	flex-direction: column;
	flex:1;
	.form-title{
		min-height: 140px;
	}
	.h1{
		margin-bottom: 10px;text-align: center;
	}
	.form-subtitle{
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap:10px;
		color: var(--osnovnoy-tekst);
		.h2{
			margin-top: 20px;
			margin-bottom:6px;
		}
	}
   .inp{
	  font-size: 20px;
	  
	  &::placeholder{color: var(--vtorostepennyy-tekst);}
   }
   .form-body{
		flex-grow: 1;
   }
   #user-phone{display: block;}
   .form-text-row{
	margin-top: 36px;
	text-align: center;
   }
}
.form-checkbox-group{
	margin-top: 25px;
	&>*+*{margin-top: 8px;}
}
/**/
.sms-input { position: relative; width:100%; }
.sms-input__cells { display: flex; gap: 15px; }

.sms-input__cell{
  width: calc((100% - 60px) /5);
  height: 60px;
  border: 1px solid var(--kontur-inputov);
  border-radius: 5px;
  display: grid;
  place-items: center;
  font-size: 20px;
  line-height: 1;
  background: #fff;
}

.sms-input__cell.is-active {
	border: 2px solid var(--siniy);
	background: var(--fon);
}

.sms-input__input{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 0;
  outline: 0;
  color: var(--zagolovok);
   font-weight: 500;
  caret-color: transparent;
}
@media(max-height: 580px){
	.authorization-form .form-subtitle .h2{margin-top: 12px;}
	.authorization-form .form-subtitle{row-gap:0;}
	.form-checkbox-group{margin-top: 12px;}
	.form-checkbox-group{margin-top: 12px;}
	.authorization-form  span.fs-16{ font-size: 12px;}
	.authorization-form .custom-checkbox-label .custom-checkbox {width: 20px;
	height: 20px;}
}