.basket-row{
	display: grid;
	grid-template-columns: 1fr 90px 24px;
	column-gap:15px;
}
.basket-card{
	padding-block:20px;
	border-bottom:1px solid #EBEDF5;
	&>.fs-15{margin-bottom: 7px;}
	.basket-card-body,.basket-card-addition>*+*{margin-top: 11px;}
	.basket-card-body .price-item{font-weight: 600;}
}