.history-item{
	display: flex;
	padding-block:15px;
	column-gap:15px;
	border-bottom:1px solid #EBEDF5 ;
	.fs-16{font-weight: 600;}
	&__info{
		flex:1;
		&>*+*{margin-top: 6px;}
	}
	
}
.label-light,
.label-inter,
.label-done,
.label-failure{
	flex-shrink: 0;
	flex-wrap: wrap;
	background: #eef1fe;
	border-radius: 5px;
	padding: 0px 20px;
	width: 145px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.21;
	color: var(--zagolovok);
}
.label-inter{background: #e3e8ff;}
.label-done{background: #e0f0e4;}
.label-failure{background: #ffe0e0;}
.search-wrapper{
	padding-bottom: 16px;
	border-bottom: 1px solid #EBEDF5;
}