.service-item{
	padding-block:20px;
	background: var(--fon);
	
	&-content{
		display: flex;
	   column-gap:16px;
		width: 100%;
		max-width: var(--container_Width);
		padding-inline:var(--container_padding_inline);
		margin: 0 auto;
	}
	&__img{
		width: 36px;
		height: 36px;
		flex-shrink: 0;
	}
	.h3{
		color: var(--zagolovok);
		margin-bottom: 6px;
		span{display: block;}
	}
	p{color: var(--osnovnoy-tekst);}
	
}

.our-services{
	padding-top:30px;
	&>*+*{margin-top: 30px;}
	.container{
		&>*+*{margin-top: 30px;}
	}
	
}
.our-services-list{
	background-color: #fff;
	
	&>*+*{margin-top: 1px;}
}