.logo-group.logo-group--primary{
	width: 165px;
	height: 55px;
	justify-content: space-between;
	.svg-logo-icon{
		width: 45px;
		height: 44px;
		color: var(--siniy);
	}
    .svg-logo-txt{
		width: 100px;
		color: var(--siniy);
	}
}
.page-content-404{
	display: flex;
	flex-direction: column;
	padding-top: 55px;
	// .header{padding-top: 55px;width: 100%;flex-shrink: 0;}
	.main-inner{
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 100%;flex-grow:1;
		background-image: url('../img/bg-404.webp');
		
		.page-404-title{
			&>*+*{margin-top: 7px;}
			padding-bottom: 80px;
			padding-top: 76px;
		}
	}
	.container{
		padding-left: 30px;
		padding-right: 30px;
	}
}

.nav-list{
	display: flex;
	flex-direction: column;
	row-gap:24px;
	.link{
		font-weight: 400;
		font-size: 18px;
		line-height: 144%;
		color: var(--siniy);
		width: fit-content;
	}
}
 @media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
   .main-inner{background:url('../img/bg-404@2x.webp');}
}