.promo{
	width: 100%;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	padding: 16px;
}
.promo-title{
	max-width: 170px;
}
.promo-title >*+*{margin-top: 11px;}
.promo-subtitle{
	font-size: 16px;
	line-height: 1.5;
	font-weight: 600;
	color: var(--zagolovok);

}