footer.nav-menu-wrapper
	nav.nav-menu
		a.nav-menu-link(href="#!")
			span.nav-menu-icon
				svg.svg-home
					use(href='../img/sprite.svg#svg-home')
			span.nav-menu-name Главная
		
		a.nav-menu-link.active(href="#!")
			span.nav-menu-icon
				svg.svg-home
					use(href='../img/sprite.svg#svg-doc')
			span.nav-menu-name Услуги
		
		a.nav-menu-link(href="#!")
			span.nav-menu-icon
				span.icon-label 3
				svg.svg-home
					use(href='../img/sprite.svg#svg-cart')
			span.nav-menu-name Корзина
		
		a.nav-menu-link(href="#!")
			span.nav-menu-icon
				svg.svg-home
					use(href='../img/sprite.svg#svg-chat')
			span.nav-menu-name Обращения