@use '_var' as *;
/*
.promo(
  style="
    background-image: -webkit-image-set(
      url('./img/bg.webp') 1x,
      url('./img/bg@2x.webp') 2x
    );
    background-image: image-set(
      url('./img/bg.webp') 1x,
      url('./img/bg@2x.webp') 2x
    );
  "
)
 @media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .box{background:url('images/box-bg@2x.png') no-repeat top left;}
}
 */


@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans.woff2") format("woff2");
//   font-weight: 200 1000;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
*, *:after, *:before {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
}

html {scroll-behavior: smooth;}

:root{
    --siniy: #5272ff;
	--siniy-dopolnitelnyy: #385bf4;
	--zagolovok: #2a2a2d;
	--osnovnoy-tekst: #54565c;
	--vtorostepennyy-tekst: #82848e;
	--kontur-inputov: #abaebc;
	--kontur-blokov: #ebedf5;
	--fon: #f6f8ff;
	--belyy: #fff;
	--oshibka: #e34343;
    --font-family: 'Nunito Sans';
    --second-family:'Inter';

    --container_Width: 575px;
    --container_padding_inline: 16px;
}
html,
body {
	margin: 0;
	padding: 0;
    font-size: 16px;
	font-weight: 400;
    font-family: var(--font-family);
    font-family: "Nunito Sans";
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
    color: var(--osnovnoy-tekst);
}
body.lock{overflow: hidden;}
p, h1, h2, h3,h4,ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}	
button{
    background: none;
    border:0;
    font-size: inherit;
    padding: 0;
    font-family: var(--font-family);
    &:focus{outline: none;}
}
.page-content{
    display: flex;
   flex-direction: column;
   min-height: 100vh;
   .header{width: 100%;flex-shrink: 0;}
   main{width: 100%;flex-grow: 1;}
}
.container, .container-small{
    width: 100%;
    max-width: var(--container_Width);
    padding-inline: var(--container_padding_inline);
    margin: 0 auto;
}
.container-small{max-width: 390px;}

.gap-15{
    display: grid;
   grid-template-columns: 1fr;
    gap:15px;
}
.main, .main-inner{padding-bottom: 65px;}
.main-inner{
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    &>*{width: 100%;}
}
.badge{
    position: relative;
    display: flex;
    
    span{
        background: var(--siniy);
        border-radius: 5px 0 0 5px;
        padding: 3px 6px 3px 10px;
        font-weight: 600;
        font-size: 16px;
       
        color: var(--belyy);
    }
    &:after{
        min-width: 13px;
        height: 100%;
        aspect-ratio: 13/28;
        background-size: cover;
        background-position:right;
        flex-shrink: 0;
        content:'';
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='28' viewBox='0 0 13 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.02234 0H0V28H9.02234C11.4904 28 12.9026 25.186 11.4277 23.2072L4.56522 14L11.4277 4.79282C12.9026 2.814 11.4904 0 9.02234 0Z' fill='%235272FF' /%3e%3c/svg%3e");
    }
}