.btn-primary{
	display: flex;
	justify-content: center;
	align-items: center;;
	border-radius: 5px;
	padding: 0px 50px;
	height: 60px;
	background: var(--siniy);
	transition: .2s;
	font-weight: 500;
	font-weight: 600;
	font-size: 18px;
	white-space: nowrap;
	cursor:pointer;
	border:0;
	text-decoration: none;
	outline: none;
	color: var(--belyy);
	transition: .2s; 
	&:hover, &:active{background: var(--siniy-dopolnitelnyy);}
	&[disabled], &.disabled{
		pointer-events: none;
		cursor: default;
		background: var(--siniy);
        opacity: 0.3;
	}
}