.btn-primary{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;;
	border-radius: 5px;
	padding: 0px 50px;
	height: 60px;
	background: var(--siniy);
	transition: .2s;
	font-weight: 500;
	font-weight: 600;
	font-size: 18px;
	white-space: nowrap;
	cursor:pointer;
	border:0;
	text-decoration: none;
	outline: none;
	color: var(--belyy);
	transition: .2s; 
	&:hover, &:active{background: var(--siniy-dopolnitelnyy);}
	&[disabled], &.disabled{
		pointer-events: none;
		cursor: default;
		background: var(--siniy);
        opacity: 0.3;
	}
}
.btn-cross{
	display: block;
	width: 40px;
	height: 40px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L8 8M15 15L8 8M8 8L15 1M8 8L1 15' stroke='%2382848E' stroke-width='2' stroke-linecap='round' /%3e%3c/svg%3e");
	background-size: 16px;
	background-repeat: no-repeat;
	background-position: center;
	transition: .3s;
	cursor:pointer; 
	&:hover{
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1L8 8M15 15L8 8M8 8L15 1M8 8L1 15' stroke='%232a2a2d' stroke-width='2' stroke-linecap='round' /%3e%3c/svg%3e");
	}
}
.btn-clean{
	display: block;
	width: 24px;
	height: 24px;
	cursor:pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.41699 6.875C7.96913 6.87518 8.41699 7.32282 8.41699 7.875V12.458C8.41699 13.0102 7.96913 13.4578 7.41699 13.458C6.86471 13.458 6.41699 13.0103 6.41699 12.458V7.875C6.41699 7.32272 6.86471 6.875 7.41699 6.875Z' fill='%235272FF' /%3e%3cpath d='M11.083 6.875C11.6353 6.875 12.083 7.32272 12.083 7.875V12.458C12.083 13.0103 11.6353 13.458 11.083 13.458C10.5309 13.4578 10.083 13.0102 10.083 12.458V7.875C10.083 7.32282 10.5309 6.87518 11.083 6.875Z' fill='%235272FF' /%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 2.75C18.0523 2.75 18.5 3.19772 18.5 3.75C18.5 4.30228 18.0523 4.75 17.5 4.75H16.6016L16.0215 13.459C15.9743 14.1664 15.9355 14.7558 15.8652 15.2344C15.8022 15.6637 15.7063 16.0659 15.5205 16.4453L15.4355 16.6064C15.0604 17.2649 14.4943 17.7945 13.8125 18.125C13.3711 18.3388 12.9093 18.4237 12.415 18.4629C11.9329 18.5012 11.3427 18.5 10.6338 18.5H7.86621C7.15727 18.5 6.56712 18.5012 6.08496 18.4629C5.59071 18.4236 5.12886 18.3388 4.6875 18.125C4.00558 17.7945 3.43959 17.2649 3.06445 16.6064C2.82165 16.1803 2.70681 15.7249 2.63477 15.2344C2.5645 14.7558 2.52568 14.1664 2.47852 13.459L1.89844 4.75H1C0.447715 4.75 0 4.30228 0 3.75C0 3.19772 0.447715 2.75 1 2.75H17.5ZM4.47363 13.3262C4.52291 14.0653 4.55723 14.5615 4.61328 14.9434C4.66755 15.313 4.73219 15.494 4.80176 15.6162C4.97682 15.9235 5.24132 16.171 5.55957 16.3252L5.66699 16.3691C5.78977 16.4114 5.96358 16.4465 6.24316 16.4688C6.62789 16.4993 7.12544 16.5 7.86621 16.5H10.6338C11.3746 16.5 11.8721 16.4993 12.2568 16.4688C12.6291 16.4392 12.8139 16.3865 12.9404 16.3252L13.0566 16.2627C13.3229 16.1079 13.545 15.8852 13.6982 15.6162L13.749 15.5117C13.7993 15.392 13.846 15.2208 13.8867 14.9434C13.9428 14.5615 13.9771 14.0653 14.0264 13.3262L14.5977 4.75H3.90234L4.47363 13.3262Z' fill='%235272FF' /%3e%3cpath d='M12 0C12.5523 0 13 0.447715 13 1C13 1.55228 12.5523 2 12 2H6.5C5.94772 2 5.5 1.55228 5.5 1C5.5 0.447715 5.94772 0 6.5 0H12Z' fill='%235272FF' /%3e%3c/svg%3e");
	transition: .3s; 
}
.btn-clean:hover,.btn-clean.active{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.41699 6.875C7.96913 6.87518 8.41699 7.32282 8.41699 7.875V12.458C8.41699 13.0102 7.96913 13.4578 7.41699 13.458C6.86471 13.458 6.41699 13.0103 6.41699 12.458V7.875C6.41699 7.32272 6.86471 6.875 7.41699 6.875Z' fill='%23e34343' /%3e%3cpath d='M11.083 6.875C11.6353 6.875 12.083 7.32272 12.083 7.875V12.458C12.083 13.0103 11.6353 13.458 11.083 13.458C10.5309 13.4578 10.083 13.0102 10.083 12.458V7.875C10.083 7.32282 10.5309 6.87518 11.083 6.875Z' fill='%23e34343' /%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.5 2.75C18.0523 2.75 18.5 3.19772 18.5 3.75C18.5 4.30228 18.0523 4.75 17.5 4.75H16.6016L16.0215 13.459C15.9743 14.1664 15.9355 14.7558 15.8652 15.2344C15.8022 15.6637 15.7063 16.0659 15.5205 16.4453L15.4355 16.6064C15.0604 17.2649 14.4943 17.7945 13.8125 18.125C13.3711 18.3388 12.9093 18.4237 12.415 18.4629C11.9329 18.5012 11.3427 18.5 10.6338 18.5H7.86621C7.15727 18.5 6.56712 18.5012 6.08496 18.4629C5.59071 18.4236 5.12886 18.3388 4.6875 18.125C4.00558 17.7945 3.43959 17.2649 3.06445 16.6064C2.82165 16.1803 2.70681 15.7249 2.63477 15.2344C2.5645 14.7558 2.52568 14.1664 2.47852 13.459L1.89844 4.75H1C0.447715 4.75 0 4.30228 0 3.75C0 3.19772 0.447715 2.75 1 2.75H17.5ZM4.47363 13.3262C4.52291 14.0653 4.55723 14.5615 4.61328 14.9434C4.66755 15.313 4.73219 15.494 4.80176 15.6162C4.97682 15.9235 5.24132 16.171 5.55957 16.3252L5.66699 16.3691C5.78977 16.4114 5.96358 16.4465 6.24316 16.4688C6.62789 16.4993 7.12544 16.5 7.86621 16.5H10.6338C11.3746 16.5 11.8721 16.4993 12.2568 16.4688C12.6291 16.4392 12.8139 16.3865 12.9404 16.3252L13.0566 16.2627C13.3229 16.1079 13.545 15.8852 13.6982 15.6162L13.749 15.5117C13.7993 15.392 13.846 15.2208 13.8867 14.9434C13.9428 14.5615 13.9771 14.0653 14.0264 13.3262L14.5977 4.75H3.90234L4.47363 13.3262Z' fill='%23e34343' /%3e%3cpath d='M12 0C12.5523 0 13 0.447715 13 1C13 1.55228 12.5523 2 12 2H6.5C5.94772 2 5.5 1.55228 5.5 1C5.5 0.447715 5.94772 0 6.5 0H12Z' fill='%23e34343' /%3e%3c/svg%3e");
}