.custom-checkbox{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 5.875L4.66667 10L12 1' stroke='%235272FF' stroke-width='2' stroke-linecap='round' /%3e%3c/svg%3e");
}