.form-wrapper{
    width: 100%;
	max-width: 920px;
	margin-inline: auto;
}
.custom-form{
	
	.form-two-cols, .form-three-cols{
		display: grid;
		column-gap:60px;
		row-gap: 20px;
		align-items:flex-start;
		grid-template-columns: repeat(12, 1fr);
		@media (max-width: 1199px) {
		  gap:20px;
		}
		
	}
	.form-two-cols >*{
		grid-column: span 6;
	}
	.form-three-cols>*{
      grid-column: span 4;
	}
	@media (max-width: 767px) {
		.form-two-cols, .form-three-cols{grid-template-columns:  repeat(1, 1fr);}
		.form-two-cols.form-two-cols--xs{
			grid-template-columns:  repeat(2, 1fr);
			&>.span-xs-100{grid-column: span 2;}
		}
		.form-two-cols >*,.form-three-cols >*{
			grid-column: span 1;
		}
	}
	@media (max-width: 1199px) {
	  padding-left: 20px;
	  padding-right: 20px;
	}
}