svg{display: inline-block;}
.logo-svg{
	display: inline-block;
	width: 100px;
	height: 100px;
	color: #5272FF;
}
.svg-logo-txt,.svg-txt-center{
	width: 98px;
	height: 52px;
	color: #385BF4;
}
.svg-logo-icon{
	width: 44px;
	height: 44px;
	color: #5272FF;
}
.svg-txt-center{
	color: #5272FF;
}