svg{display: inline-block;transition: .2s; }
.logo-svg{
	display: inline-block;
	width: 100px;
	height: 100px;
	color: #5272FF;
}
.svg-logo-txt,.svg-txt-center{
	width: 98px;
	height: 52px;
	color: #385BF4;
}
.svg-logo-icon{
	width: 44px;
	height: 44px;
	color: #5272FF;
}
.svg-txt-center{
	color: #5272FF;
}
.svg-search{
	width: 24px;
	height: 24px;
	color: #5272FF;
	fill:transparent;
}
.svg-bin{
	width: 22px;
	height: 22px;
	color:#5272FF;
}
.svg-cross{
	width: 16px;
	height: 16px;
	color: #82848E;
	fill:transparent;
	cursor:pointer;
	&:hover{
		color:var(--zagolovok);
	}
}
.svg-phone,
.svg-email,
.svg-comment{
  width:20px;
  height:20px;
  color: #abaebc;
}