.svg-home,.svg-doc, .svg-cart, .svg-chat{
	width: 30px;
	height: 30px;
	color: #82848E;
}
.nav-menu-wrapper{
	background-color: #fff;
	padding-top: 9px;
	padding-bottom: 9px;
	height: 65px;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.nav-menu{
	display: flex;
	column-gap: 16px;
	max-width: var(--container_Width);
	padding-inline: var(--container_padding_inline);
	margin:0 auto;
	.nav-menu-link{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex:1;
		gap:2px;
		text-align: center;
		color: var(--osnovnoy-tekst);
		text-decoration: none;
		svg, img{
			height: 30px;
			width: 30px;
			flex-shrink: 0;
			object-fit: contain;
			color: var(--osnovnoy-tekst);
		}
	}
	.nav-menu-icon{
		position: relative;
		height: 30px;
		.icon-label{
			position: absolute;
			top: 0;
			right:0;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background: var(--siniy);
			text-align: center;
			line-height: 16px;
			font-weight: 600;
			font-size: 12px;
			z-index: 3;
			transform: translatex(50%);
			color: var(--belyy);
		}
	}
	.nav-menu-link:hover, .nav-menu-link.active{
		color:#5272ff;
		svg{color:#5272ff;}
	}
	.nav-menu-name{
		font-weight: 400;
		font-size: 12px;
		line-height: 117%;
		text-align: center;
		
	}
}