extends ../layouts/layout.pug

block content
	.page-content
		//HEADER
		header.header.header-primary
			.container
				a.logo-group(href="index.html")
					svg.svg-logo-icon
						use(href='../img/sprite.svg#svg-logo-icon')
					svg.svg-logo-txt
						use(href='../img/sprite.svg#svg-logo-txt')

				.header-title
					.h-18 Заявка № 123456789
		
		//MAIN
		main.main-inner
			section.history-content
				.container
					.search-wrapper
						form(action="" method="method")
							.form-item-slim
								input.inp(type="text" name="inp_name" placeholder="Поиск")
								button.search-button(type="submit")
					.history-list
						//single
						.order-card
							.order-card__head
								.order-card__info
									.fs-13.txt-muted 01.12.2025
									.fs-16 #[span.txt-muted №] 123456789
								.label.label-light В обработке
							
							.order-card__customer.fs-15
								.customer-name Александр Иванов
								.customer-phone +7 (123) 123-45-67
						
						
						//single
						.order-card
							.order-card__head
								.order-card__info
									.fs-13.txt-muted 11.11.2025
									.fs-16 #[span.txt-muted №] 987654321
								.label.label-inter Выезд на объект
							
							.order-card__customer.fs-15
								.customer-name Валентина Петрищенкова
								.customer-phone +7 (123) 123-45-67
						//single
						.order-card
							.order-card__head
								.order-card__info
									.fs-13.txt-muted 05.08.2025
									.fs-16 #[span.txt-muted №] 456456
								.label.label-inter Согласование
							
							.order-card__customer.fs-15
								.customer-name Константин Константинович
								.customer-phone +7 (123) 123-45-67
						
						//single
						.order-card
							.order-card__head
								.order-card__info
									.fs-13.txt-muted 07.03.2025
									.fs-16 #[span.txt-muted №] 7867567
								.label.label-inter Формирование документов
							
							.order-card__customer.fs-15
								.customer-name Валерий Арамо
								.customer-phone +7 (123) 123-45-67
						
						//single
						.order-card
							.order-card__head
								.order-card__info
									.fs-13.txt-muted 07.03.2025
									.fs-16 #[span.txt-muted №] 345345356
								.label.label-inter Подача в&nbsp;Росреестр
							.order-card__customer.fs-15
								.customer-name Татьяна Сидорова
								.customer-phone +7 (123) 123-45-67
						//single
						.order-card
							.order-card__head
								.order-card__info
									.fs-13.txt-muted 01.03.2025
									.fs-16 #[span.txt-muted №] 67854
								.label.label-done Закрытие
							.order-card__customer.fs-15
								.customer-name Петр Васильев
								.customer-phone +7 (123) 123-45-67
						//single
						.order-card
							.order-card__head
								.order-card__info
									.fs-13.txt-muted 01.03.2025
									.fs-16 #[span.txt-muted №] 67854
								.label.label-failure Отказ
							.order-card__customer.fs-15
								.customer-name Александр
								.customer-phone +7 (123) 123-45-67
			
		include ../sections/_footer-menu
block variables
	-var title = "Одна услуга";
