extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 Кадастр Всем
		.start-page__cards
			a(href="#!") UI-KIT
			a(href="./authorization.html") Авторизация-стартовая
			a(href="./sms-code.html") Код смс
			a(href="./authorization-finish.html") Завершить авторизацию
			a(href="./main.html") Главная
			a(href="./services.html") Услуги
			a(href="./single-service.html") Об услуге
			a(href="./basket-page.html") Корзина
			a(href="./history-page.html") История обращений- Пользователь
			a(href="./history-page-admin-fix.html") История обращений-Admin
			a(href="./order-page-customer.html") Заявка- Пользователь
			a(href="./order-page-admin.html") Заявка- Admin
			a(href="./order-place.html") Оформление заказа
			a(href="./order-success.html") Оформление заказа Успешно!
			a(href="./404.html") 404

			
			

			
		
			
block variables
	-var title = "Оформление";
