extends ../layouts/layout.pug

block content
	.authorization-content
		.container-small
			.brand-logo
				svg.logo-svg
					use(href='./img/logo.svg#logo-svg')
			
			form.authorization-form
				.form-title
					.h1 Введите код из смс
					.form-subtitle
						.fs-16 Мы отправили его на номер
							span#user-phone +7 (123) 456 78 90
						a.fs-15.link(href="#!") Изменить номер телефона
				.form-body
					.sms-input#sms-input(data-len="5")
						input.sms-input__input(
							type="text"
							inputmode="numeric"
							maxlength="5"
						)
						.sms-input__cells(aria-hidden="true")
							- for (let i = 0; i < 5; i++)
								.sms-input__cell(data-i=i)
					
					.form-text-row
						p.fs-16 Получить новый код можно через #[span 0:59]
						a.fs-16.link(href="#!") Получить новый код
				
						 
	
	-var title = "Авторизация";
