extends ../layouts/layout.pug

block content
	.authorization-content
		.container
			.brand-logo
				svg.logo-svg
					use(href='./img/logo.svg#logo-svg')
			
			form.authorization-form
				.form-title
					.h1 Введите код из смс
					.form-subtitle
						.fs-16 Мы отправили его на номер
							span#user-phone +7 (123) 456 78 90
						a.fs-15.link(href="#!") Изменить номер телефона
				.form-body
					.form-item
						input.inp.phone(type="text" name="phone" placeholder="+ 7 (000) 000 00 00")
					
					.form-checkbox-group
						label.custom-item-label
							input(type="checkbox" name="")
							span.custom-checkbox
							span.fs-16 Принимаю #[a.link(href="#!") пользовательское соглашение]

						label.custom-item-label
							input(type="checkbox" name="")
							span.custom-checkbox
							span.fs-16 Соглашаюсь с #[a.link(href="#!") политикой обработки персональных данных]
				.form-button
					button.btn-primary.disabled(type="submit") Продолжить
						 
	
	-var title = "Авторизация";
