
@use "base/_var" as *;
@use "base/_base";
@use "base/_typography";
@use "base/_buttons";
@use "base/_form-grid";
@use "base/_icons";
@use "base/_form";
@use "base/_form-customs";
// @use "base/_dropdown";

@use "blocks/_nav-menus";
@use "blocks/_header";
@use "blocks/_service-card";
@use "sections/_authorization";
@use "sections/_promo";
@use "sections/_our-services";
@use "sections/_faq";
@use "sections/_services-page";
@use "sections/_single-service";
@use "sections/_basket-page";
@use "sections/_history";
@use "sections/_bid-page";
@use "sections/_bid-customer";


// @import "base/_grids";
// @import "base/_typography";
// @import "base/_icons";
// @import "base/_buttons";


// @import "base/_form";

// @import "blocks/_marker-list";
// @import "blocks/_tabs";



// ui
 @use "ui/_ui-navigation";
